<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.runtime.remoting>
    <application>
      <client displayName="Client_01">
        <wellknown
          mode="Singleton"
          type="Server.Bank.IAccount, BankAccountLib"
          url="http://localhost:8080/Account" />
      </client>
      <channels>
        <channel ref="http" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>